// Cell.scss
td {
        position: relative;
        padding: 8px;
    
        input {
            width: 100%;
            padding: 100px;
            box-sizing: border-box;
        }
} // Add the closing curly brace here
  